<template>
  <div class="hello" ref="chartdiv" />
</template>

<script>
import * as am5 from '@amcharts/amcharts5'
import * as am5xy from '@amcharts/amcharts5/xy'
import am5themes_Animated from '@amcharts/amcharts5/themes/Animated'
import am5themes_Dark from '@amcharts/amcharts5/themes/Dark'

// am4core.useTheme(am4themes_animated)

export default {
  props: {
    linedata: {
      type: Array,
      default: () => [],
    },
  },
  data: () => ({
    chart: null,
  }),
  mounted() {
    let root = am5.Root.new(this.$refs.chartdiv, am5xy)
    // root.numberFormatter.set('numberFormat', '###,###,###,###,###.###')
    root.setThemes([am5themes_Animated.new(root), am5themes_Dark.new(root)])

    let chart = root.container.children.push(
      am5xy.XYChart.new(root, {
        panX: true,
        panY: true,
        wheelX: 'panX',
        wheelY: 'zoomX',
        maxTooltipDistance: 0,
      })
    )
    // let date = new Date()
    // date.setHours(0, 0, 0, 0)
    // let value = 100

    // function generateData(even) {
    //   value = Math.round(Math.random() * 10 - 4.2 + value)
    //   const evenOdd = even % 4
    //   // If evenIs zero, number is even
    //   if (evenOdd === 0) {
    //     value = value - value * 2
    //   }
    //   am5.time.add(date, 'day', 1)
    //   return {
    //     date: date.getTime(),
    //     value: value,
    //   }
    // }

    // function generateDatas(count) {
    //   let data = []
    //   for (let i = 0; i < count; ++i) {
    //     data.push(generateData(count))
    //   }
    //   return data
    // }

    // Create axes
    // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
    let xAxis = chart.xAxes.push(
      am5xy.DateAxis.new(root, {
        maxDeviation: 0.2,
        baseInterval: {
          timeUnit: 'day',
          count: 1,
        },
        renderer: am5xy.AxisRendererX.new(root, {}),
        tooltip: am5.Tooltip.new(root, {}),
      })
    )

    let yAxisRight = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        // numberFormat: '$###,###,###,###.###',
        numberFormat: `$#a`,
        bigNumberPrefixes: [
          { number: 1e3, suffix: 'k' },
          { number: 1e6, suffix: 'M' },
          { number: 1e9, suffix: 'B' },
          { number: 1e12, suffix: 'T' },
          { number: 1e15, suffix: 'P' },
          { number: 1e18, suffix: 'E' },
          { number: 1e21, suffix: 'Z' },
          { number: 1e24, suffix: 'Y' },
        ],
        renderer: am5xy.AxisRendererY.new(root, { opposite: true }),
      })
    )
    let yAxisLeft = chart.yAxes.push(
      am5xy.ValueAxis.new(root, {
        // numberFormat: '###,###,###,###.###%',
        renderer: am5xy.AxisRendererY.new(root, { opposite: false }),
      })
    )
    // let series = chart.series.push(
    //   am5xy.LineSeries.new(root, {
    //     name: 'Series ' + i,
    //     xAxis: xAxis,
    //     yAxis: yAxisRight,
    //     valueYField: 'value',
    //     valueXField: 'date',
    //     // legendValueText: '{valueY}',
    //     tooltip: am5.Tooltip.new(root, {
    //       pointerOrientation: 'horizontal',
    //       labelText: '{valueY}',
    //     }),
    //   })
    // )
    // series.appear().data.setAll(data)
    // Add series
    // https://www.amcharts.com/docs/v5/charts/xy-chart/series/

    for (let i = 0; i < this.linedata.length; i++) {
      const name = this.linedata[i].name
      const prefix = this.linedata[i].prefix
      const suffix = this.linedata[i].suffix
      const opposite = this.linedata[i].opposite
      const values = this.linedata[i].values
      const color = this.linedata[i].color
      let series = chart.series.push(
        am5xy.LineSeries.new(root, {
          name: name,
          xAxis: xAxis,
          yAxis: opposite ? yAxisRight : yAxisLeft,
          valueYField: 'value',
          valueXField: 'date',
          // legendValueText: '{valueY}',
          // valueYShow: 'valueYTotalPercent',
          tooltip: am5.Tooltip.new(root, {
            pointerOrientation: 'horizontal',
            labelText: '[bold]' + name + '[/]\n' + prefix + `{valueY}` + suffix,
          }),
          // numberFormat: "#.#'%'",
          stroke: am5.color(color),
          fill: am5.color(color),
        })
      )
      if (!opposite && name === 'APY') {
        series.events.on('datavalidated', function () {
          yAxisLeft.setAll({
            numberFormat: `##,###.###'%'`,
          })
        })
      }
      if (opposite && name === 'Supply') {
        series.events.on('datavalidated', function () {
          yAxisRight.setAll({
            numberFormat: `#.###,###a`,
            // bigNumberPrefixes: [
            //   { number: 1e6, suffix: 'm' },
            //   { number: 1e9, suffix: 'b' },
            // ],
          })
        })
      }
      if (!opposite && name === 'Runway') {
        series.events.on('datavalidated', function () {
          yAxisLeft.setAll({
            numberFormat: `###' days'`,
          })
        })
      }
      if (!opposite && name === 'Staked') {
        series.events.on('datavalidated', function () {
          yAxisLeft.setAll({
            numberFormat: `##.##'%'`,
          })
          yAxisRight.setAll({
            numberFormat: `###,###a`,
            bigNumberPrefixes: [
              { number: 1e6, suffix: 'm' },
              { number: 1e9, suffix: 'b' },
            ],
          })
        })
      }
      if (!opposite && (name === '$TIME%' || name === '$MEMO%' || name === '$wMEMO%')) {
        series.events.on('datavalidated', function () {
          yAxisLeft.setAll({
            numberFormat: `##.###.##'%'`,
          })
          yAxisRight.setAll({
            numberFormat: `###,###a`,
            bigNumberPrefixes: [
              { number: 1e6, suffix: 'm' },
              { number: 1e9, suffix: 'b' },
            ],
          })
        })
      }
      if (opposite && (name === 'Market Cap' || name === 'Price')) {
        series.events.on('datavalidated', function () {
          yAxisRight.setAll({
            // numberFormat: `###,###`,
            // numberFormat: `$#a`,
            // bigNumberPrefixes: [
            //   { number: 1e3, suffix: 'k' },
            //   { number: 1e6, suffix: 'M' },
            //   { number: 1e9, suffix: 'B' },
            //   { number: 1e12, suffix: 'T' },
            //   { number: 1e15, suffix: 'P' },
            //   { number: 1e18, suffix: 'E' },
            //   { number: 1e21, suffix: 'Z' },
            //   { number: 1e24, suffix: 'Y' },
            // ],
          })
        })
      }

      // date = new Date()
      // date.setHours(0, 0, 0, 0)
      // value = 0

      // let data = generateDatas(100)
      // console.log(values)

      series.data.setAll(values)

      // Make stuff animate on load
      // https://www.amcharts.com/docs/v5/concepts/animations/
      series.appear()
    }

    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
    let cursor = chart.set(
      'cursor',
      am5xy.XYCursor.new(root, {
        behavior: 'none',
      })
    )
    cursor.lineY.set('visible', false)

    // Add legend
    // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
    // let legend = chart.topAxesContainer.children.push(
    //   am5.Legend.new(
    //     root,
    //     // {
    //     //   width: 200,
    //     //   paddingLeft: 15,
    //     //   height: am5.percent(100),
    //     // }
    //     {
    //       // width: 312,
    //       // x: am5.percent(50),
    //       // centerX: am5.percent(50),
    //       layout: root.horizontalLayout,
    //     }
    //   )
    // )
    var legend = chart.topAxesContainer.children.push(
      am5.Legend.new(root, {
        centerX: am5.p50,
        x: am5.p50,
        // layout: root.horizontalLayout,
      })
    )

    // Make series change state when legend item is hovered
    legend.itemContainers.template.states.create('hover', {})

    legend.itemContainers.template.events.on('pointerover', function (e) {
      e.target.dataItem.dataContext.hover()
    })
    legend.itemContainers.template.events.on('pointerout', function (e) {
      e.target.dataItem.dataContext.unhover()
    })

    legend.data.setAll(chart.series.values)
    // let legend = chart.children.push(am5.Legend.new(root, {}))

    // When legend item container is hovered, dim all the series except the hovered one
    // legend.itemContainers.template.events.on('pointerover', function (e) {
    //   let itemContainer = e.target

    //   // As series list is data of a legend, dataContext is series
    //   let series = itemContainer.dataItem.dataContext

    //   chart.series.each(function (chartSeries) {
    //     if (chartSeries != series) {
    //       chartSeries.strokes.template.setAll({
    //         strokeOpacity: 0.15,
    //         // stroke: am5.color(0x000000),
    //       })
    //     } else {
    //       chartSeries.strokes.template.setAll({
    //         strokeWidth: 3,
    //       })
    //     }
    //   })
    // })

    // When legend item container is unhovered, make all series as they are
    // legend.itemContainers.template.events.on('pointerout', function (e) {
    //   let itemContainer = e.target
    //   let series = itemContainer.dataItem.dataContext

    //   chart.series.each(function (chartSeries) {
    //     chartSeries.strokes.template.setAll({
    //       strokeOpacity: 1,
    //       strokeWidth: 1,
    //       stroke: chartSeries.get('fill'),
    //     })
    //   })
    // })

    // legend.itemContainers.template.set('width', am5.p100)
    // legend.valueLabels.template.setAll({
    //   width: am5.p100,
    //   textAlign: 'center',
    // })

    // It's is important to set legend data after all the events are set on template, otherwise events won't be copied
    // legend.data.setAll(chart.series.values)

    // Make stuff animate on load
    // https://www.amcharts.com/docs/v5/concepts/animations/
    this.chart = chart
    this.chart.appear(1000, 100)
  },
  beforeDestroy() {
    this.chart.dispose()
  },
}
</script>

<style scoped>
.hello {
  width: 100%;
  height: 26rem;
}
</style>
