<template>
  <div>
    <h3>Dashboard</h3>
    <v-row no-gutters>
      <v-col :cols="$vuetify.breakpoint.md || $vuetify.breakpoint.sm || $vuetify.breakpoint.xs ? '12' : '6'">
        <ccard>
          <!-- Market Cap -->
          <v-skeleton-loader v-if="loading" class="mx-auto" type="image" />
          <LineChart v-if="!loading" :linedata="[marketCap, tvl, treasury, runway]" />
        </ccard>
      </v-col>
      <v-col :cols="$vuetify.breakpoint.md || $vuetify.breakpoint.sm || $vuetify.breakpoint.xs ? '12' : '6'">
        <ccard>
          <v-skeleton-loader v-if="loading" class="mx-auto" type="image" />
          <LineChart v-if="!loading" :linedata="[price, backing, apy]" />
        </ccard>
      </v-col>
    </v-row>
    <h3>Contract</h3>
    <v-row no-gutters>
      <v-col :cols="$vuetify.breakpoint.md || $vuetify.breakpoint.sm || $vuetify.breakpoint.xs ? '12' : '6'">
        <ccard>
          <v-skeleton-loader v-if="loading" class="mx-auto" type="image" />
          <LineChart v-if="!loading" :linedata="[supply, staked, wmemoPrice]" />
        </ccard>
      </v-col>
      <v-col :cols="$vuetify.breakpoint.md || $vuetify.breakpoint.sm || $vuetify.breakpoint.xs ? '12' : '6'">
        <ccard>
          <v-skeleton-loader v-if="loading" class="mx-auto" type="image" />
          <LineChart v-if="!loading" :linedata="[wallets, time, memo, wmemo]" />
        </ccard>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { db } from '@/plugins/firebase'
import LineChart from '@/components/charts/lineChart.vue'
export default {
  components: {
    LineChart,
  },
  data: () => ({
    loading: true,
    wonderlandData: [],
    marketCap: {},
    tvl: {},
    treasury: {},
    runway: {},
    price: {},
    backing: {},
    apy: {},
    supply: {},
    staked: {},
    wallets: {},
    time: {},
    memo: {},
    wmemo: {},
    wmemoPrice: {},
  }),
  mounted() {
    // console.log('Get sum data')
    this.getData()
  },
  methods: {
    async getData() {
      this.loading = true

      this.marketCap = await db
        .collection('sheet')
        .doc('marketCap')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.tvl = await db
        .collection('sheet')
        .doc('tvl')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.treasury = await db
        .collection('sheet')
        .doc('treasury')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.runway = await db
        .collection('sheet')
        .doc('runway')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.price = await db
        .collection('sheet')
        .doc('timePrice')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.backing = await db
        .collection('sheet')
        .doc('backing')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.apy = await db
        .collection('sheet')
        .doc('apy')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      // ------------------------------------
      this.supply = await db
        .collection('sheet')
        .doc('supply')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.staked = await db
        .collection('sheet')
        .doc('staked')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      // ------------------------------------
      this.wallets = await db
        .collection('sheet')
        .doc('wallets')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.time = await db
        .collection('sheet')
        .doc('timePerc')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.memo = await db
        .collection('sheet')
        .doc('memoPerc')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.wmemo = await db
        .collection('sheet')
        .doc('wmemoPerc')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      this.wmemoPrice = await db
        .collection('sheet')
        .doc('wmemoPrice')
        .get()
        .then((doc) => {
          if (doc.exists) {
            return doc.data().raw
          }
        })
      // ------------------------------------
      // ------------------------------------
      this.loading = false
    },
  },
}
</script>

<style lang="scss" scoped></style>
