<template>
  <v-app class="main-application">
    <component :is="layout">
      <transition name="fade">
        <router-view v-if="initialized" />
      </transition>
    </component>
    <snack-bar />
    <loader v-if="loading.state" />
  </v-app>
</template>

<script>
import SnackBar from '../components/snackbar'
import Loader from '../components/loader'
import { mapGetters, mapActions } from 'vuex'
// import overview from '@/pages/overview'
const default_layout = 'default'
export default {
  name: 'App',
  components: {
    SnackBar,
    Loader,
  },
  data: () => ({
    initialized: false,
  }),
  computed: {
    ...mapGetters({
      loading: 'general/loading',
      // user: 'general/user'
    }),
    layout() {
      return (this.$route.meta.layout || default_layout) + '-layout'
    },
  },
  watch: {},
  async mounted() {
    // this.$store.commit('general/SET_LOADING', {
    //   state: true,
    //   msg: 'Loading'
    // })
    // Set user profile
    await this.init()
    this.initialized = true
  },
  methods: {
    ...mapActions({
      init: 'general/initialize',
    }),
  },
}
</script>
<style lang="scss" scoped>
@import '@/style/_variables';
.theme--light.v-application {
  background: $backgrounddark;
  color: $text-color;
}
</style>
