// These colors need to mirrored with vuetify.js

// $background-1: #f9f9fa;
$background: #192837;
$background1: #213447;
$backgrounddark: #212121;

$text-color: #f9f9fa;
$link-color: #03a9f4;
$border-color: #e1e1e6;

$primary: #adadad;
$secondary: #ff5722;
$accent: #ffeb3b;
$error: #f44336;
$warning: #ffc107;
$info: #607d8b;
$success: #4caf50;
