@import './_variables.scss';
@import './vuetify.scss';

html {
  font-size: 14px;
}

// General styling
body {
  font-family: 'Nunito Sans', sans-serif;
}
.main-wrapper {
  min-height: 100vh;
  // background-color: $background;
}

.max {
  &-width {
    width: 100%;
  }
  &-height {
    height: 100%;
  }
}
.width {
  &-80 {
    width: 80%;
  }
}
.zindex {
  &9 {
    z-index: 9;
  }
}
a:link {
  text-decoration: none;
  color: $link-color !important;
}
.custom-link {
  a:link {
    // color: $secondary-blue2-color;
    text-decoration: underline;
  }
  a:visited {
    // color: $secondary-blue2-color;
    text-decoration: none;
  }
  a:hover {
    // color: $primary-color;
    text-decoration: none;
  }
  a:active {
    // color: $primary-color;
    text-decoration: none;
  }
}

a.aref {
  text-decoration: none;
  &:hover {
    color: $link-color !important;
    text-decoration: none;
  }
}

// Animations
.fade-enter {
  display: none;
}
.fade-enter-active {
  display: none;
}
.fade-exit {
  opacity: 1;
  background-color: transparent;
}
.fade-exit-active {
  opacity: 0.01;
  transition: all 50ms ease-in;
  background-color: lightgrey;
}

.pointer-hover:hover {
  cursor: pointer;
}
.disable-pointer-table {
  cursor: default !important;
  background-color: unset !important;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  // color: $primary;
}
h1 {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1;
}
h2 {
  font-size: 2.6rem;
  font-weight: 500;
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: $text-color;
}
p {
  font-size: 1.2rem;
  font-family: 'Nunito Sans', sans-serif;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// .custom-switch {
//   // border: 1px solid #9a9a9b;
//   padding: 0.8rem;
//   border-radius: 4px;
//   &-label {
//     font-size: 1rem;
//   }
// }
// .abatar {
//   border: 1px solid white;
// }
// .status-menu {
//   .v-btn {
//     text-transform: unset;
//     font-weight: 600;
//     font-size: 0.8rem;
//   }
// }
// .status-icon {
//   font-size: 18px;
// }

.appbar-background {
  background-color: $background1 !important;
  &--text {
    color: $background1 !important;
  }
}

.icon {
  &-small {
    font-size: 1rem;
  }
  &-mega {
    font-size: 22rem;
  }
}
