@import './_variables.scss';

// .theme--light.v-application {
//     background-color: $background-1 !important;
// }

.v-application {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
}
.v-icon.v-icon {
  color: $primary;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 40px;
}
.v-snack__content {
  padding: 0;
}
.v-list--dense .v-list-item,
.v-list-item--dense {
  height: 2rem;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  .v-list-item__action,
  .v-list-item__avatar,
  .v-list-item__icon {
    margin: 0;
    padding-right: 0.5rem;
  }
  .v-icon.v-icon {
    font-size: 1.4rem;
  }
}
.theme--dark.v-tabs > .v-tabs-bar {
  background-color: $background1 !important;
}
