<template>
  <div class="loader">
    <div class="vg-block">
      <v-row no-gutters class="max-height">
        <v-col cols="8" class="vg-block-background-img">
          <h4 class="vg-block-subtitle">CRM SYSTEM</h4>
          <!-- <div class="vg-block-background-img">
          </div> -->
        </v-col>
        <v-col cols="4" class="vg-block-icon">
          <div class="vg-icon">
            <div class="vg-icon-logo">
              <v-img
                src="https://assets.bettyblocks.com/5f62dd483f974bf38aee40bca5c2cd1e_assets/files/logo_triangle.png"
                alt="Value Group"
                max-height="42"
                max-width="42"
              />
            </div>
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- <v-progress-circular :size="126" :width="2" color="primary" indeterminate>
      <h4 class="subtitle-1 white--text">
        {{ loading.msg }}
      </h4>
    </v-progress-circular> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {},
  data: () => ({}),
  watch: {
    loading: {
      deep: true,
      handler() {
        if (!this.loading.state) {
          this.$store.commit('general/SET_LOADING', {
            state: false,
            msg: '',
          })
        }
      },
    },
  },
  computed: {
    ...mapGetters({
      loading: 'general/loading',
    }),
  },
}
</script>

<style lang="scss" scoped>
@import '../style/_variables.scss';
.loader {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  &-msg {
    position: fixed;
    top: 50%;
    margin-top: 6rem;
  }
}
.vg-icon {
  height: 100%;
  display: flex;
  align-items: center;
  &-logo {
    padding-left: 1rem;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    // width: 3rem;
    // height: 3rem;
  }
}
$origin: 2.2rem;
@keyframes example {
  // from {
  //   transform: rotate(0);
  //   transform-origin: $origin center;
  // }
  // to {
  //   transform: rotate(360deg);
  //   transform-origin: $origin center;
  // }
  0% {
    transform: rotate(0);
    transform-origin: $origin center;
  }
  95% {
    transform: rotate(360deg);
    transform-origin: $origin center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: $origin center;
  }
}
.vg-block {
  width: 16rem;
  height: 8rem;
  background-color: $text-color;
  border-radius: 0.5rem;
  &-background-img {
    width: 100%;
    height: 100%;
    background: url('https://assets.bettyblocks.com/5f62dd483f974bf38aee40bca5c2cd1e_assets/files/logo_flat.png');
    background-size: 75%;
    background-position: 90% 40%;
    background-repeat: no-repeat;
  }
  &-subtitle {
    font-size: 1rem;
    color: $background;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 3.8rem;
  }
}
</style>
