<template>
  <div>
    <v-snackbar v-model="show" bottom right :color="status" :timeout="timeout" height="44">
      <div class="max-width d-flex align-center">
        <span class="material-icons-outlined px-4">
          {{ statusIcon }}
        </span>
        <span class="snackmessage">{{ message }}</span>
        <v-spacer />
        <v-btn icon color="white" class="" text @click="show = false">
          <span class="material-icons-outlined"> close </span>
        </v-btn>
      </div>
    </v-snackbar>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'
export default {
  name: 'loading',
  props: {},
  components: {},
  data() {
    return {
      show: false,
      message: '',
      status: 'error',
      statusIcon: '',
      timeout: 5000,
    }
  },
  created() {
    this.$store.watch(
      (state) => state.general.snackmsg,
      () => {
        const msg = this.$store.state.general.snackmsg
        if (msg !== '') {
          this.message = this.$store.state.general.snackmsg
          this.status = this.$store.state.general.snackstatus

          this.show = true
          const data = {
            msg: '',
            status: '',
          }
          this.$store.commit('general/SET_SNACKBAR', data)
        }
      }
    )
  },
  watch: {
    show() {
      if (this.show) {
        switch (this.status) {
          case 'success':
            this.statusIcon = 'check_circle_outline'

            break
          case 'error':
            this.statusIcon = 'error_outline'
            break
          default:
            break
        }
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.snackmessage {
  font-size: 1rem;
  font-weight: 700;
}
</style>
