<template>
  <div>
    <v-app-bar app dense dark clipped-left flat class="appbar-background">
      <v-toolbar-title class="pr-1">{{ $route.name }}</v-toolbar-title>
      <h5 class="pt-1 grey--text text--lighten-2">statistics</h5>
      <v-spacer />
      <v-btn small outlined @click="goToSauce" class="mx-2"> Data source </v-btn>
      <v-btn small outlined @click="goToSnowtrace" class="mx-2"> Donate </v-btn>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon small @click="goToTwitter" class="mx-2">
            <v-icon small>mdi-twitter</v-icon>
          </v-btn>
        </template>
        <span>My Twitter</span>
      </v-tooltip>

      <!-- <MetamaskCheck /> -->
      <!-- <v-menu offset-y :close-on-content-click="false">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="white--text" dark small outlined v-bind="attrs" v-on="on"> WALLETS </v-btn>
        </template>
        <v-list dense two-line width="364">
          <v-list-item v-for="(wallet, i) in wallets" :key="i">
            <v-list-item-content class="d-flex align-center px-4">
              <v-list-item-title>{{ wallet.name }}</v-list-item-title>
              <v-list-item-subtitle>
                <span>{{ wallet.address }}</span>
                <span>
                  <v-btn icon small @click="copyAddress(wallet.address)">
                    <span class="material-icons-outlined icon-small"> content_copy </span>
                  </v-btn>
                </span>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu> -->
      <!-- <v-select
        v-model="selectedWallets"
        :items="wallets"
        item-text="name"
        return-object
        multiple
        dense
        outlined
        hide-details
      /> -->
      <!-- <MetamaskCheck /> -->
      <!-- <AddressManager /> -->

      <!-- <v-menu left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" small>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item v-for="n in 5" :key="n" @click="() => {}">
            <v-list-item-title>Option {{ n }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu> -->
    </v-app-bar>
    <!-- <v-navigation-drawer app clipped permanent class="grey darken-4">
      <Tokens />
    </v-navigation-drawer> -->
    <v-main class="">
      <v-container fluid class="max-height">
        <slot />
      </v-container>
    </v-main>
  </div>
</template>

<script>
// import MetamaskCheck from './default/metamask-check.vue'
// import AddressManager from './default/addressManager.vue'
// import Tokens from './default/tokens.vue'
import { mapGetters } from 'vuex'
export default {
  // components: { MetamaskCheck },
  data: () => ({
    // tokens: []
    // wallets: [],
    // selectedWallets: [],
  }),
  computed: {
    ...mapGetters({
      wallets: 'general/wallets',
    }),
  },
  mounted() {
    //   const wonderland = await this.$helpers.fetchApi('https://api.coingecko.com/api/v3/coins/wonderland', 'GET')
    //   this.tokens.push(wonderland)
    //   console.log(this.tokens)
  },
  methods: {
    copyAddress(address) {
      navigator.clipboard.writeText(address)
    },
    goToSauce() {
      window.open('https://docs.google.com/spreadsheets/d/1LV98XewKpyZJ7A4qZi6ZkOLEtsIZLoNUU2uXf18dxwY', '_blank')
    },
    goToSnowtrace() {
      window.open('https://snowtrace.io/address/0x055E045F830b718b08dcada6a1E0840305271AAd', '_blank')
    },
    goToTwitter() {
      window.open('https://twitter.com/Jacked_420', '_blank')
    },
  },
}
</script>
<style lang="scss" scoped>
// @import '@/style/_variables';
</style>
