<template>
  <div>
    <span>Metamask installed? {{ isMetaMaskInstalled }}&nbsp;&nbsp;&nbsp;</span>
    <!-- <vue-metamask userMessage="msg" @onComplete="onComplete"> </vue-metamask> -->
    <!-- <v-btn color="primary" depressed @click="connectWallet">connect wallet</v-btn>
    <span>{{ wallets }}</span> -->
  </div>
</template>

<script>
// import VueMetamask from 'vue-metamask'
// import Web3 from 'web3'

export default {
  components: {},
  data: () => ({
    web3: null,
    msg: 'This is demo net work',
    wallets: [],
    accounts: [],
  }),
  computed: {
    isMetaMaskInstalled() {
      const { ethereum } = window
      return Boolean(ethereum && ethereum.isMetaMask)
    },
  },
  mounted() {
    this.connectWallet()
  },
  methods: {
    async connectWallet() {
      try {
        const { ethereum } = window
        // Will open the MetaMask UI
        // You should disable this button while the request is pending!
        const accounts = await ethereum.request({ method: 'eth_accounts' })
        console.log(accounts)

        // Will open the MetaMask UI
        // You should disable this button while the request is pending!
        // this.wallets = await window.ethereum.request({ method: 'eth_requestAccounts' })
        // console.log(this.wallets)
        //   this.accounts = await window.ethereum.request({ method: 'eth_accounts' })
        //   console.log(this.accounts)
        //   for (let a = 0; a < this.accounts.length; a++) {
        //     let account = this.accounts[a]
        //     const balance = await window.ethereum.request({ method: 'eth_getBalance', params: [account, 'latest'] })
        //     console.log(balance)
        //   }
        // In Node.js
      } catch (error) {
        this.$store.commit('general/SET_SNACKBAR', { msg: error.message, status: 'error' })
        console.error(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
