<template>
  <div>
    <v-list dark>
      <v-subheader>TOKENS</v-subheader>
      <v-list-item v-for="token in tokens" :key="token.id" @click="setToken(token.symbol)">
        <v-list-item-icon>
          <v-avatar>
            <v-img :src="token.image.small" />
          </v-avatar>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="text-uppercase">
            {{ token.symbol }}
          </v-list-item-title>
          <v-list-item-subtitle class="text-capitalize">{{ token.name }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <!-- <v-list dark>
      <v-list-item v-for="token in tokens" :key="token.id" link>
        <v-list-item-icon>
          <v-avatar>
            <v-img :src="token.image.small" />
          </v-avatar>
        </v-list-item-icon>
        <v-list-item-title></v-list-item-title>

        <v-list-item-content>
          <v-list-item-title>
            {{ token.name }}
          </v-list-item-title>
          <v-list-item-subtitle class="text-capitalize">{{ token.asset_platform_id }}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-checkbox :ripple="false" />
        </v-list-item-action>
      </v-list-item>
    </v-list> -->
  </div>
</template>

<script>
export default {
  data: () => ({
    tokens: []
  }),
  async mounted() {
    // const wonderland = await this.$helpers.fetchApi('https://api.coingecko.com/api/v3/coins/wonderland', 'GET')
    // this.tokens.push(wonderland)
    // console.log(this.tokens)
  },
  methods: {
    setToken(token) {
      if (this.$route.query.symbol === token) return
      this.$router.push(`${this.$route.params.address}?symbol=${token}`)
      // const routeSymbol = this.$route.query
      // const localToken = this.tokens.findIndex(token => token.symbol === routeSymbol)
      // if (localToken > -1) this.selectedToken = localToken
      // else this.selectedToken = 0
    }
  }
}
</script>

<style lang="scss" scoped></style>
